*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #B87C4C;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    font-size: 20px ;
    font-style: italic;
}

a {
text-decoration: none;
}

body {
    background-image: url(./pexels-vlado-paunovic-3028961.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #B87C4C;
    margin-bottom: 50px;
}

header img {
    max-width: 100px
 }

header ul {
    display: flex;
}

header ul li {
    padding: 5px ;
    border-right: 2px solid #B87C4C ;
}

header ul li a{
    transition: 300ms;
}

header ul li a:hover{
    text-decoration: underline;
    color: rgb(82, 38, 13); 
}

header ul li:first-child {
    padding: 5px ;
    border-left: 2px solid #B87C4C ;
}


.container {
    text-align: center;
    padding: auto;
}

.container .name h1 {
    font-size: 40px;
}

.container .name h5 {
    font-size: 15px;
font-size:500 ;
}

#arrow {
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5px;
}

.form {
    width: 40%;
   margin: 0 auto; 
   border: #B87C4C;
   padding: 5px;
}

.form p {
   padding: 2px; 
   font-style: oblique;
   font-size: small;
}

.form input {
    width: 50%;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    width:15%;
    font-style: oblique;
    border: none;
    background-color: #FFF;
    cursor: pointer;
    transition: 300ms;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
    margin-top: 5px;
}

.form button:hover{
    background-color: #B87C4C;
    color: #FFF;
}

@media only screen and (max-width: 768px) {
    .form {
        width: 95%;
    }
}

@media only screen and (max-width: 480px) {
    .container .name h1 {
        font-size: 30px;
    }
    .container .name h5 {
        font-size: 15px;
    }
    header img {
        max-width: 50%;
     }
     ul {
         font-size: 80%;
     }
     #about p {
         max-width: 80%;
     }

}